{% extends 'index.twig' %}

{% block title %}{{ exception.code ? exception.code ~ ' - ' : '' }}Error{% endblock %}

{% block bodyNavigation %}
<nav>
    <div class="container">
        <ul>
            <li><a href="{{ route() }}"><span class="fa fa-cog"></span><span class="title">Framework</span></a></li>
            <li><a href="{{ route('about') }}"><span class="fa fa-user"></span><span class="title">Team</span></a></li>
            <li><a href="{{ route('status') }}"><span class="fa fa-wrench"></span><span class="title">Status</span></a></li>
        </ul>
    </div>
</nav>
{% endblock %}

{% block content %}
    <div class="alert alert-danger">
        <h4>{{ exception.code ? : "0" }} - {{ exception|get_class }}</h4>
        <p>{{ exception.message|strip_root_path }}</p>
    </div>
{% endblock %}
