<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <!-- For Responsive -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="{{ asset('css/template.css') }}" type="text/css">
        <!-- End for Responsive -->

        <!-- For SEO -->
        <title>{% block title %}Joomla! Framework{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="description" content="{% block metaDescription %}The Joomla! Framework provides a structurally sound foundation on which to build web applications, which is easy to adapt to and extend. Let's find out more!{% endblock %}">
        <meta name="generator" content="Joomla! Framework" />
        <meta property="og:description" content="{{ block('metaDescription') }}" />
        <meta property="og:locale" content="en_US" />
        <meta property="og:site_name" content="Joomla! Framework" />
        <meta property="og:title" content="{{ block('title') }}" />
        <meta property="og:type" content="{% block metaOgType %}website{% endblock %}" />
        <meta property="og:url" content="{{ request_uri() }}" />
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@JoomlaFramework" />
        <meta name="twitter:description" content="{{ block('metaDescription') }}" />
        <meta name="twitter:title" content="{{ block('title') }}" />
        {% block metadata %}{% endblock %}
        <!-- End for SEO -->

        <!-- For Misc -->
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600" rel="stylesheet" />
        <link href="favicon.ico" rel="shortcut icon" />
        <link href="https://plus.google.com/b/109167715749846214365/" rel="publisher" />
        <!-- End for misc -->

        {% block headJavaScript %}
        {% endblock %}
    </head>
    <body id="go">
        <!-- Google Tag Manager -->
        <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-NX46ZP" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-NX46ZP');</script>
        <!-- End Google Tag Manager -->
        {% block bodyNavigation %}{% endblock %}
        <main>
            {% block content %}{% endblock %}
        </main>
        <footer class="footer clearfix" role="contentinfo" id="resources">
            {% block footerContent %}{% endblock %}

            <div class="container">
                <p>&nbsp;</p>
                <a data-scroll href="#go" class="pull-right">Back to top</a>
                <p>&copy; 2005 - {{ now|date("Y") }} Open Source Matters, Inc. All rights reserved.<br />
                The Joomla!&reg; name and symbol, Joomla! Framework&#8482 and symbol, The Joomla! Project&#8480 and Joomla! CMS&#8482 are all trademarks and service marks of Open Source Matters, Inc. in the United States and other countries.</p>
                <p>This site is managed by the Production Leadership Team.  If you are experiencing any issues, please <a href="https://github.com/joomla/framework.joomla.org/issues/new?title=[FW Site]&body=Please state the nature of your development emergency">report it to us</a>.</p>
                <div class="hosting text-center">
                    <div class="host-img">
                        <a href="https://www.rochen.com/joomla-hosting/" target="_blank" class="rochen">Rochen</a>
                    </div>
                    <div class="host-text">
                        <a href="https://www.rochen.com/joomla-hosting/" target="_blank">Joomla! Hosting by Rochen</a>
                    </div>
                </div>
            </div>
        </footer>

        <script src="{{ asset('js/smooth-scroll.min.js') }}"></script>
        <script type="text/javascript">
            smoothScroll.init({
                // selector: '[data-scroll]', // Selector for links (must be a class, ID, data attribute, or element tag)
                // selectorHeader: null, // Selector for fixed headers (must be a valid CSS selector) [optional]
                speed: 600, // Integer. How fast to complete the scroll in milliseconds
                easing: 'easeInOutCubic', // Easing pattern to use
                offset: 40, // Integer. How far to offset the scrolling anchor location in pixels
                // callback: function ( anchor, toggle ) {} // Function to run after scrolling
            });
        </script>
        {% block bodyJavaScript %}{% endblock %}
    </body>
</html>
