<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <!-- For Responsive -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="{{ preload(asset('css/template.css', 'mix'), 'preload', {'as': 'style'}) }}" type="text/css"{{ sri('css/template.css') }}>
        {% block stylesheets %}{% endblock %}
        {% if appDebug %}
            <link rel="stylesheet" href="{{ asset('css/debugbar.css') }}" type="text/css">
        {% endif %}
        <!-- End for Responsive -->

        <!-- For SEO -->
        <title>{% block title %}Joomla! Framework, a framework for developing PHP applications{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="description" content="{% block metaDescription %}The Joomla! Framework provides a structurally sound foundation on which to build applications in PHP, which is easy to adapt and extend. Let's find out more!{% endblock %}">
        <meta name="generator" content="Joomla! Framework" />
        <meta property="og:description" content="{{ block('metaDescription') }}" />
        <meta property="og:locale" content="en_US" />
        <meta property="og:site_name" content="Joomla! Framework" />
        <meta property="og:title" content="{{ block('title') }}" />
        <meta property="og:type" content="{% block metaOgType %}website{% endblock %}" />
        <meta property="og:url" content="{{ request_uri() }}" />
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@JoomlaFramework" />
        <meta name="twitter:description" content="{{ block('metaDescription') }}" />
        <meta name="twitter:title" content="{{ block('title') }}" />
        {% block metadata %}{% endblock %}
        <!-- End for SEO -->

        <!-- For Misc -->
        <link href="favicon.ico" rel="shortcut icon" />
        <link href="https://plus.google.com/b/109167715749846214365/" rel="publisher" />
        <!-- End for misc -->

        <script>
       	var _prum = [['id', '59300ad15992c776ad970068'],
       	             ['mark', 'firstbyte', (new Date()).getTime()]];
       	(function() {
       	    var s = document.getElementsByTagName('script')[0]
       	      , p = document.createElement('script');
       	    p.async = 'async';
       	    p.src = 'https://rum-static.pingdom.net/prum.min.js';
       	    s.parentNode.insertBefore(p, s);
       	})();
       	</script>
    </head>
    <body id="go">
        <!-- Google Tag Manager -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NX46ZP" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-NX46ZP');</script>
        <!-- End Google Tag Manager -->
        {% block bodyNavigation %}
            <nav class="container-fluid main-nav">
                <ul>
                    <li><a href="{{ route() }}"><span class="fa fa-joomla"></span><span class="title">Framework</span></a></li>
                    <li><a href="{{ route('contributors') }}"><span class="fa fa-user"></span><span class="title">Team</span></a></li>
                    <li><a href="{{ route('docs') }}"><span class="fa fa-file-text"></span><span class="title">Documentation</span></a></li>
                    <li><a href="{{ route('status') }}"><span class="fa fa-wrench"></span><span class="title">Status</span></a></li>
                </ul>
            </nav>
        {% endblock %}
        <main>
            {% block content %}{% endblock %}
        </main>
        <footer class="clearfix" role="contentinfo" id="resources">
            {% block footerContent %}
                <div class="container">
                    {{ footer_copyright() }}
                </div>
            {% endblock %}
        </footer>

        <script src="{{ preload(asset('js/template.js', 'mix'), 'preload', {'as': 'script'}) }}"{{ sri('js/template.js') }}></script>
        {% block bodyJavaScript %}{% endblock %}
        {% if appDebug %}
            <script src="{{ asset('js/debugbar.js') }}"></script>
        {% endif %}
    </body>
</html>
