{% set firstPart = uri.route|split("/")|first %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">
    <head>
        <!-- For Responsive -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="{{ uri.base.path }}css/template.css" type="text/css">
        <!-- End for Responsive -->

        <!-- For SEO -->
        <title>{% block title %}Joomla! Framework{% endblock %}</title>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="description" content="The Joomla! Framework provides a structurally sound foundation on which to build web applications, which is easy to adapt to and extend. Let's find out more:">
        <meta name="author" content="Open Source Matters">
        <!-- End for SEO -->

        <!-- For Misc -->
        <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600" rel="stylesheet" type="text/css">
        <link rel="shortcut icon" href="favicon.ico">
        <link href="https://plus.google.com/b/109167715749846214365/" rel="publisher" />
        <!-- End for misc -->

        {% block headJavaScript %}
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="{{ uri.base.path }}js/html5shiv.js"></script>
        <script src="{{ uri.base.path }}js/respond.min.js"></script>
        <![endif]-->
        {% endblock %}
        <script>
            (function(i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function() {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o), m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-544070-32', 'joomla.org');
            ga('send', 'pageview');
        </script>
    </head>
    <body id="go">
        {% block bodyNavigation %}{% endblock %}
        <main>
            {% block content %}{% endblock %}
        </main>
        <footer class="footer clearfix" role="contentinfo" id="resources">
            {% block footerContent %}{% endblock %}

            <div class="container">
                <p>&nbsp;</p>
                <a href="#go" class="pull-right">Back to top</a>
                <p>&copy; 2005 - {{ now|date("Y") }} Open Source Matters, Inc. All rights reserved.<br />
                The Joomla!&reg; name and symbol, Joomla! Framework&#8482 and symbol, The Joomla! Project&#8480 and Joomla! CMS&#8482 are all trademarks and service marks of Open Source Matters, Inc. in the United States and other countries.</p>
                <p>This site is managed by the Production Leadership Team.  If you are experiencing any issues, please <a href="https://github.com/joomla/framework.joomla.org/issues/new?title=[FW Site]&body=Please state the nature of your development emergency">report it to us</a>.</p>
                <p><a href="https://www.rochen.com/joomla-hosting" target="_blank">Joomla! Hosting by</a> <a href="https://www.rochen.com/joomla-hosting" target="_blank" class="rochen">Rochen Ltd.</a></p>
            </div>
        </footer>
        <script src="{{ uri.base.path }}js/jquery.js"></script>
        <script>
            $(function() {
                $('a[href*=#]:not([href=#])').click(function() {
                    if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
                        var target = $(this.hash);
                        target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                        if (target.length) {
                            $('html,body').animate({
                                scrollTop: target.offset().top
                            }, 1000);
                            return false;
                        }
                    }
                });
            });
        </script>
        {% block bodyJavaScript %}{% endblock %}
    </body>
</html>
