{% extends 'index.twig' %}

{% block title %}Joomla! Framework Status{% endblock %}

{% block metaDescription %}The current status of the Joomla! Framework.{% endblock %}

{% block content %}
<section class="status container">
    <h1 class="centered-title">Latest Build Status</h1>
    <table class="table table-striped table-sm nice-responsive-table">
        <thead>
            <tr>
                <th scope="col">Package</th>
                <th scope="col">Version</th>
                <th scope="col">Latest Release Date</th>
                <th scope="col">Downloads</th>
                <th scope="col">1.x Build Status</th>
                <th scope="col">2.0 Build Status</th>
            </tr>
        </thead>
        <tbody>
            {% set _totalDownloads = 0 %}
            {% for release in releases %}
                <tr>
                    <th scope="row" data-label="Package">
                        <a href="https://github.com/joomla-framework/{{ release.package.repo }}"><span class="fab fa-github" aria-hidden="true"></span><span class="sr-only">Open {{ release.package.display }} on GitHub</span></a> <a href="{{ route('status/' ~ release.package.package) }}">{{ release.package.display }}</a>
                        {% if release.package.deprecated %}
                            <br><span class="badge badge-warning">Deprecated</span>
                        {% endif %}
                    </th>
                    <td data-label="Version">{{ release.version }}</td>
                    <td data-label="Latest Release Date">{{ release.release_date }}</td>
                    <td data-label="Downloads">
                        {% set _totalDownloads = _totalDownloads + release.package.downloads %}
                        {{ release.package.downloads|number_format }}
                    </td>
                    <td data-label="1.x Build Status">
                        {% if release.package.repo in ['console', 'preload', 'renderer', 'symfony-event-dispatcher-bridge', 'test'] %}
                            N/A
                        {% else %}
                            {% set _1xbranch = release.package.repo in ['crypt'] ? '1.x-dev' : 'master'  %}
                            <a href="https://travis-ci.org/joomla-framework/{{ release.package.repo }}"><img src="https://travis-ci.org/joomla-framework/{{ release.package.repo }}.png?branch={{ _1xbranch }}" alt="Build Status" /></a>
                        {% endif %}
                    </td>
                    <td data-label="2.0 Build Status">
                        {% if release.package.repo in ['cache', 'compat', 'date', 'facebook-api', 'google-api', 'image', 'ldap', 'linkedin-api', 'log', 'openstreetmap-api', 'test', 'twitter-api'] %}
                            N/A
                        {% else %}
                            {% set _2xbranch = release.package.repo in ['crypt', 'renderer', 'symfony-event-dispatcher-bridge'] ? 'master' : '2.0-dev'  %}
                            <a href="https://travis-ci.org/joomla-framework/{{ release.package.repo }}"><img src="https://travis-ci.org/joomla-framework/{{ release.package.repo }}.png?branch={{ _2xbranch }}" alt="Build Status" /></a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td>Totals</td>
                <td colspan="2"></td>
                <td>{{ _totalDownloads|number_format }}</td>
                <td colspan="2"></td>
            </tr>
        </tfoot>
    </table>
</section>
{% endblock %}
