{% extends "index.twig" %}

{% block title %}Joomla! Framework Status{% endblock %}

{% block metaDescription %}The current status of the Joomla! Framework.{% endblock %}

{% block content %}
<section class="status container">
    <h1>Latest Build Status</h1>
    <table class="table table-striped table-condensed">
        <thead>
            <tr>
                <th>Package</th>
                <th>Version</th>
                <th class="hidden-xs hidden-sm"># of Tests</th>
                <th class="hidden-xs hidden-sm"># of Assertions</th>
                <th class="hidden-xs hidden-sm">Tests with Failures</th>
                <th class="hidden-xs hidden-sm">Tests with Errors</th>
                <th>Lines Covered</th>
                <th>1.x Build Status</th>
                <th>2.0 Build Status</th>
            </tr>
        </thead>
        <tbody>
            {% set _totalTests = 0 %}
            {% set _totalAssertions = 0 %}
            {% set _totalFailures = 0 %}
            {% set _totalErrors = 0 %}
            {% set _totalCoveredLines = 0 %}
            {% set _totalLines = 0 %}
            {% for package, release in packages %}
            <tr>
                <td>
                    <a href="{{ route('status/' ~ package) }}">{{ release.displayName }}</a> <a href="https://github.com/joomla-framework/{{ release.repoName }}"><span class="fa fa-github"></span></a>
                    {% if release.deprecated %}
                        <br><span class="label label-warning">Deprecated</span>
                    {% endif %}
                </td>
                <td>{{ release.version }}</td>
                {% if release.id %}
                    {% set _totalTests = _totalTests + release.tests %}
                    {% set _totalAssertions = _totalAssertions + release.assertions %}
                    {% set _totalFailures = _totalFailures + release.failures %}
                    {% set _totalErrors = _totalErrors + release.errors %}
                    {% set _totalCoveredLines = _totalCoveredLines + release.lines_covered %}
                    {% set _totalLines = _totalLines + release.total_lines %}
                    <td class="hidden-xs hidden-sm">{{ release.tests }}</td>
                    <td class="hidden-xs hidden-sm">{{ release.assertions }}</td>
                    <td class="hidden-xs hidden-sm">{{ release.failures }}</td>
                    <td class="hidden-xs hidden-sm">{{ release.errors }}</td>
                    <td>
                        {{ release.lines_covered }}/{{ release.total_lines }} ({{ release.lines_percentage|number_format(2) }}%)
                        {% if release.id %}
                            <br />
                            <a href="{{ route('coverage/' ~ package ~ '/') }}" class="btn btn-primary btn-sm" role="button">Coverage Report</a>
                        {% endif %}
                    </td>
                    <td>
                        {% if release.repoName in ['datetime', 'renderer'] %}
                            N/A
                        {% else %}
                            {% set _1xbranch = (release.repoName in ['crypt', 'form']) ? '1.x-dev' : 'master'  %}
                            <a href="https://travis-ci.org/joomla-framework/{{ release.repoName }}"><img src="https://travis-ci.org/joomla-framework/{{ release.repoName }}.png?branch={{ _1xbranch }}" alt="Build Status" /></a>
                        {% endif %}
                    </td>
                    <td>
                        {% if release.repoName == 'log' %}
                            N/A
                        {% else %}
                            {% set _2xbranch = (release.repoName in ['crypt', 'form', 'datetime', 'renderer']) ? 'master' : '2.0-dev'  %}
                            <a href="https://travis-ci.org/joomla-framework/{{ release.repoName }}"><img src="https://travis-ci.org/joomla-framework/{{ release.repoName }}.png?branch={{ _2xbranch }}" alt="Build Status" /></a>
                        {% endif %}
                    </td>
                {% elseif package in ['compat', 'test'] %}
                    <td colspan="7" class="text-center">This package is not unit tested</td>
                {% else %}
                    <td colspan="5" class="hidden-xs hidden-sm text-center">This package does not have a test report</td>
                    <td class="hidden-md hidden-lg">This package does not have a test report</td>
                    <td>
                        {% if release.repoName in ['datetime', 'renderer'] %}
                            N/A
                        {% else %}
                            {% set _1xbranch = (release.repoName in ['crypt', 'form']) ? '1.x-dev' : 'master'  %}
                            <a href="https://travis-ci.org/joomla-framework/{{ release.repoName }}"><img src="https://travis-ci.org/joomla-framework/{{ release.repoName }}.png?branch={{ _1xbranch }}" alt="Build Status" /></a>
                        {% endif %}
                    </td>
                    <td>
                        {% if release.repoName == 'log' %}
                            N/A
                        {% else %}
                            {% set _2xbranch = (release.repoName in ['crypt', 'form', 'datetime', 'renderer']) ? 'master' : '2.0-dev'  %}
                            <a href="https://travis-ci.org/joomla-framework/{{ release.repoName }}"><img src="https://travis-ci.org/joomla-framework/{{ release.repoName }}.png?branch={{ _2xbranch }}" alt="Build Status" /></a>
                        {% endif %}
                    </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>Totals</th>
                <th></th>
                <th class="hidden-xs hidden-sm">{{ _totalTests }}</th>
                <th class="hidden-xs hidden-sm">{{ _totalAssertions }}</th>
                <th class="hidden-xs hidden-sm">{{ _totalFailures }}</th>
                <th class="hidden-xs hidden-sm">{{ _totalErrors }}</th>
                <th colspan="3">Lines Covered: {{ _totalCoveredLines }}<br />Total Lines: {{ _totalLines }}<br />{{ ((_totalCoveredLines / _totalLines) * 100)|number_format(2) }}% Coverage</th>
            </tr>
        </tfoot>
    </table>
</section>
{% endblock %}
