{% extends "index.twig" %}

{% block content %}
<div class="page-header">
    <h2>Latest Build Status</h2>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Unit Test Report</h3>
            </div>
            <table class="table table-striped table-bordered table-condensed">
                <tr>
                    <th>Package</th>
                    <th>Version</th>
                    <th># of Tests</th>
                    <th># of Assertions</th>
                    <th>Tests with Failures</th>
                    <th>Tests with Errors</th>
                    <th>Miscellaneous</th>
                </tr>
                {% for package, item in items %}
                <tr>
                    <td>{{ item.displayName }}</td>
                    <td>{{ item.version }}</td>
                    {% if item.id %}
                    <td>{{ item.tests }}</td>
                    <td>{{ item.assertions }}</td>
                    <td>{{ item.failures }}</td>
                    <td>{{ item.errors }}</td>
                    <td>
                        <a href="https://travis-ci.org/joomla-framework/{{ item.repoName }}">
                            <img src="https://travis-ci.org/joomla-framework/{{ item.repoName }}.png?branch=master" alt="Build Status"/>
                        </a>
                        {% if item.id %}
                        <a href="{{ uri.base.path }}coverage/{{ package }}" class="btn btn-primary btn-sm" role="button">Coverage Report</a>
                        {% endif %}
                    </td>
                    {% elseif package == 'compat' or package == 'test' %}
                    <td colspan="5" class="text-center">This package is not unit tested</td>
                    {% else %}
                    <td colspan="4" class="text-center">This package does not have a test report</td>
                    <td>
                        <a href="https://travis-ci.org/joomla-framework/{{ item.repoName }}">
                            <img src="https://travis-ci.org/joomla-framework/{{ item.repoName }}.png?branch=master" alt="Build Status"/>
                        </a>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}
